fastapi
uvicorn
jinja2
pydantic
httpx
numpy
opencv-python
insightface
onnxruntime
langchain
langchain-core
langchain-ollama
langchain-google-genai
langchain-groq
langgraph
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
google-auth
sounddevice
dateparser
faster-whisper
pyaudio
python-dotenv
torch
torchvision
pillow
huggingface-hub
piper-tts
